* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #0b0316;
  background-attachment: scroll;
  color: #fff;
  font-family: 'Belanosima', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

.hero {
  background-image: url("https://media.tenor.com/xkb7CVNJBVsAAAAC/colorful-art.gif");
  color: #fff;
  max-height: fit-content;
  max-width: inherit;
  overflow: hidden; }

.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
  padding: 1.3rem .9rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content); }
  .nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0); }

.nav__logo {
  font-size: 1.5rem; }

#nav ul li a:hover {
  color: #f116c5; }

.nav__hamburguer,
.nav__close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform; }

.nav__hamburguer {
  transform: var(--state-hamburguer); }

.nav__close {
  transform: var(--state-close); }

.nav__icon {
  width: 1.8rem;
  border: .3rem dashed #afab34; }

.nav__links {
  background-image: url("https://media.tenor.com/xkb7CVNJBVsAAAAC/colorful-art.gif");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: .3s transform;
  z-index: 1;
  max-width: fit-content; }

.nav__item {
  list-style: none;
  color: #fff;
  font-weight: bold; }

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: .125rem; }

@media (min-width: 768px) {
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0); }
    .nav:target {
      --state-close: scale(0); }

  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2; }

  .nav__link {
    font-size: 1rem;
    letter-spacing: none; } }
section {
  border: 0.06rem solid #f116c5;
  border-radius: .5625rem;
  overflow: hidden; }

.home {
  display: flex;
  overflow: hidden; }

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  flex-wrap: wrap;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-modelos-geometricos-luces-neon_23-2148430315.jpg?w=740&t=st=1692571133~exp=1692571733~hmac=dc999160301c7e7be8f04712c27eeb53a95b401ab8d2d2d5b9422fc938962b10");
  background-size: cover;
  background-position: center; }

.col1 {
  max-width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem; }
  .col1 img {
    width: 100%;
    height: 100%;
    display: flex; }
    .col1 img:hover {
      transform: scale(1.05); }

.col2 {
  padding: 0 .9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .col2 h2 {
    font-size: 2.5rem;
    text-align: center; }
    .col2 h2 i {
      color: #afab34; }

.destacado {
  color: #f116c5; }

.col2 p {
  margin: .3125rem 0;
  font-size: 1rem;
  font-family: 'Convergence', sans-serif;
  color: #ffe7f6;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.875rem; }
  .col2 p::first-letter {
    font-size: 1.5rem; }

.col2__contacto {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  border: none;
  color: #fff;
  font-weight: bold;
  margin-top: 3%;
  border-radius: 1.875rem;
  font-size: 1rem;
  cursor: pointer; }
  .col2__contacto a {
    text-decoration: dotted;
    color: #ffe7f6; }
    .col2__contacto a:hover {
      transform: scale(1.3);
      color: #afab34; }
  .col2__contacto .fa-brands {
    text-decoration: none;
    display: inline-block;
    margin: 0 .4375rem;
    color: #fff;
    width: max-content;
    height: max-content; }

.redes .fa-youtube:hover {
  color: rgba(243, 41, 41, 0.887); }
.redes .fa-instagram:hover {
  color: #ff72c0; }
.redes .fa-linkedin:hover {
  color: rgba(98, 98, 221, 0.833); }

.col2__opciones {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.8rem 0 0 0;
  width: inherit; }
  .col2__opciones .opcion {
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    text-align: center; }

.col2__ul {
  list-style: none;
  margin: .3rem;
  display: flex;
  justify-content: center;
  background-color: #0b0316; }
  .col2__ul li {
    background-color: #0b0316;
    padding: 1%;
    align-content: space-between;
    justify-content: space-between;
    text-align: center;
    font-family: 'Convergence', sans-serif;
    font-size: .8rem;
    margin-left: 1%; }
    .col2__ul li strong {
      color: #f116c5; }

@media screen and (max-width: 768px) {
  .col2 h2 {
    font-size: 1.7rem; }

  .col2 p {
    font-size: .9rem; }

  .col2__ul {
    flex-flow: column wrap;
    font-size: 1rem; }
    .col2__ul li {
      flex-basis: 50%; } }
.imagen {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  padding: 1rem; }

.imagen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%; }
  .imagen__header h2 {
    text-align: center;
    font-size: 1.25rem;
    display: flex; }

.imagen__slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; }
  .imagen__slider img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
    -webkit-transition: .5 ease;
    -moz-transition: .5 ease;
    -ms-transition: .5 ease;
    -o-transition: .5 ease; }
  .imagen__slider img:hover {
    width: 37.5rem;
    cursor: crosshair;
    opacity: 1;
    filter: contrast(120%);
    -webkit-filter: contrast(120%); }

.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  padding: 1rem; }

.video__contain {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .video__contain h1 {
    position: relative;
    color: #fae4f3;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(57, 14, 63, 0.5);
    padding: .125rem .4375rem;
    border-radius: 7%; }
  .video__contain #muteButton {
    cursor: pointer;
    font-family: 'Belanosima', sans-serif; }

.video__wrapper {
  position: relative;
  padding: 1rem; }

.video__container {
  position: relative; }
  .video__container video {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: .625rem; }

.video-subtitle {
  position: absolute;
  width: 100%;
  bottom: .625rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: .3125rem .625rem;
  color: #fff;
  font-size: 1.1rem; }

.audio {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: grid;
  padding: 1rem; }

.audio__contain {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: .3;
  align-items: center;
  text-align: center;
  height: fit-content;
  background-image: linear-gradient(rgba(11, 3, 22, 0.8), rgba(11, 3, 22, 0.9)), url("https://www.reshot.com/preview-assets/illustrations/8BEQHD75F3/dj-playing-music-8BEQHD75F3-w1600.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
  border-radius: .625rem;
  font-family: 'Convergence', sans-serif;
  color: #fff;
  letter-spacing: .1rem; }

.audio__header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .audio__header img {
    background-color: #0b0316; }
  .audio__header h1 {
    background-color: rgba(255, 162, 56, 0.3);
    width: fit-content;
    height: fit-content;
    color: #fae4f3;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .3rem .5rem;
    border-radius: 7%;
    text-align: center; }

.audio__title {
  padding: 1rem;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  font-size: .9rem;
  border-radius: .625rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(11, 3, 22, 0.8), rgba(11, 3, 22, 0.9)), url("https://www.reshot.com/preview-assets/illustrations/8BEQHD75F3/dj-playing-music-8BEQHD75F3-w1600.jpg"); }

.audio__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content; }
  .audio__info ul {
    list-style: none;
    margin-top: 2rem;
    color: #fff; }
    .audio__info ul li {
      margin-bottom: 2rem;
      margin-left: 1.5rem;
      border-radius: 1rem;
      background-color: rgba(29, 25, 26, 0.6);
      font-size: 1.25rem;
      font-family: 'Convergence', sans-serif;
      padding: .6rem; }

.show-btn {
  margin: .3rem;
  padding: .9rem;
  max-width: 50%;
  font-family: 'Belanosima', sans-serif; }

.contacto {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.25rem;
  display: grid;
  border-top: 0.1875rem solid #f116c5;
  border-radius: .5625rem;
  box-shadow: 0 0 0.375rem 0 rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
  text-align: center; }
  .contacto h2 {
    margin: 1rem; }

.contacto__form {
  display: grid;
  gap: .3rem;
  max-width: 769px;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 62, 77, 0.2);
  border: 1.3rem dotted #ed137b;
  box-shadow: -15px -13px 29px -2px rgba(219, 103, 153, 0.68);
  -webkit-box-shadow: -15px -13px 29px -2px rgba(219, 103, 153, 0.68);
  -moz-box-shadow: -15px -13px 29px -2px rgba(219, 103, 153, 0.68); }
  .contacto__form::after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    z-index: -1;
    background-image: linear-gradient(to right, #ec56cb9d, #21184a80, rgba(255, 255, 255, 0.9));
    border-radius: .3125rem; }
  .contacto__form div {
    display: grid;
    gap: 0.3rem;
    padding: 1rem; }
  .contacto__form label {
    font-family: 'Convergence', sans-serif; }
  .contacto__form input {
    background-color: rgba(255, 252, 255, 0.5);
    padding: .3rem;
    border-radius: .3125rem; }

input[type="text"],
input[type="email"],
input[type="tel"],
button {
  width: 100%;
  padding: 0.5rem; }

.selector {
  display: grid;
  gap: 0.5rem;
  align-items: center; }
  .selector label {
    margin-right: 0.5rem; }

span.required {
  color: #ed137b;
  margin-left: .3125rem; }
  span.required::before {
    content: "*"; }

.enviar {
  display: flex;
  justify-content: center; }

button {
  padding: .625rem;
  color: #fef5fa;
  border-radius: 50%;
  background: #410b23;
  box-shadow: .3125rem .3125rem 1.9375rem #1a040e, -0.3125rem -0.3125rem 1.9375rem #681238;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 1.0625rem;
  font-weight: bold;
  font-family: 'Belanosima', sans-serif;
  transition: transform 0.3s ease; }
  button:hover {
    transform: scale(0.9); }

.footer {
  color: #4c0927;
  text-align: center;
  font-size: .75rem;
  padding: .9375rem; }

.footer__text i, p {
  color: rgba(250, 249, 249, 0.68); }

/*# sourceMappingURL=style.css.map */
